#board{
    position: absolute;
    top: 46px;
    left: 0px;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background: white;
}

.scoreBoard{

}

/**** diceContainer ****/
.diceContainer{
    background: white;
    border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 50%;
    
}

.dice{
    padding: 20px;
    background: white;
    border: 2px solid black;
    color: black;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 10px;
}

.rollBtn{
    margin: 0px 40%;
    width: 100%;
    padding: 20px 40px;
}
/*******************************************/

/**** playerContainer ****/
.playerContainer{
    border: 2px solid blue;
    width: 100%;
    min-height: 50%;
    background: white;
    display: flex;
}

.playerbox{
    border: 2px black solid;
    min-width: 33%;

}

.player{
    
    display: flex;
    flex-wrap: wrap;
    
}

.playername{
    width: 100%;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.playerscore{
    width: 100%;
    
    background: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}


.active{


}

